.wholePopup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.rightSide{
    display: flex;
    justify-content: flex-start;
}
.closeBtn{
    display: flex;
    justify-content: flex-end;
}
.topContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}