@import "../../../styles.scss" ;

#dialog-component-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin : 1em ;
    box-sizing: border-box;
    height: 100%;
}


#dialog-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    padding: 0.4em;
    box-sizing: border-box;
}
#app-resuable-table-wrapper{
    height: 70vh;
    box-sizing: border-box;
}
#dialog-close-icon{
    cursor: pointer ;
}

#dialog-footer{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    box-sizing: border-box;
    align-items: center;
    margin-top: 15px;
}

#confirm-btn{
    background-color: $trias-primary;
}

.line-break-default{
    border: 1px solid lightgrey;
}