<div id="dialog-component-wrapper">
    <div id="dialog-header">
        <span><b>Dispensed Date: {{dispensedDate}}</b> </span>
        <mat-icon id="dialog-close-icon" (click)="closePopup()">close</mat-icon>
      </div>
      <div class="line-break-default"></div>
      <div id="app-resuable-table-wrapper">
        <app-resuable-table
      #table
      [dataSource]="dialogdata"
      [columnDef]="columnDef"
      [tableConfig]="tableConfig"
      (dataEmitter)="handleTableDataEmission($event)"
      >
      </app-resuable-table>
      </div>
      <div class="line-break-default"></div>
      <div id="dialog-footer">
        <div id="item-length-span">
          {{ dialogdata.length + ' item/s' }}
        </div>
        <div id="confirm-btn-wrapper">
          <button mat-raised-button 
                  id="confirm-btn" 
                  (click)="handleConfirmClickEvent()" >
            Confirm
          </button>
        </div>  
      </div>
</div>
