@import "../../styles.scss" ;

#pharmacy-header{
    height:  calc(100% - 675px);
    width:  calc(100% - 40px);
    padding: 20px;
    background-color: #eef1f2;
}
$header-btns-wrapper-margin : 3px ; 
$header-btns-wrapper-padding : 3px ;
#header-btns-wrapper{
    display: flex;
    flex-direction: row;

}

#caleneder-events-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 42% !important;
}

#today-btn{
    background-color: #4ab2af !important;
    color: white !important;
    height: 45px;
    width: 90px;
}
.arrow-btn{
    height: 45px;
    color:  #4ab2af !important;;
}
.date-picker{
    display: flex;
    flex-direction: row; 
    height: 46px
}
#current-date-span{
    align-items: center;
    display: flex;
    font-weight: 500;
    padding-left: 20px;
}
.date-button{
    display: flex;
    flex-direction: row;
    padding-left: 20px;

}
.second-div{
    display: flex;
    flex-direction: row;
}
.first-btn{
    display: flex;
    flex-direction: row; 
}
.arrow-icon{
    color: $trias-primary;
}

#mat-datepicker-input{
    display: none;
}

#dropdown-btns-wrapper{
    display: flex;
    width: 50%;
    justify-content: flex-start;
}

.dropdown-btn{
    font-size: 6px !important;
    height: 20px;
    padding-left: 20px;
}

#pharmacy-orders-table{
    width: 100%;
    height: 87vh;
}